{%include 'layout.html'%}

<h1>hi! {{user.username}}</h1>
<div class="logout-button">
    <button type="button" id="logoutButton">Logout</button>
</div>

<div class="container">
  <table>
  <thead>
    <tr>
      <th>Book Id</th>
      <th>Bookname</th>
      <th>Author</th>
      <th>Price</th>
      <th>genre</th>
      <th>Image URL</th>
      <th>Uploader</th>
    </tr>
  </thead>
  <tbody>
  {% for book in all_books %}
    <tr>
      <td style="text-align: center;">{{book.id}}</td>
      <td style="text-align: center;">{{book.bookname}}</td>
      <td style="text-align: center;">{{book.author}}</td>
      <td style="text-align: center;">{{book.price}}</td>
      <td style="text-align: center;">{{book.genre}}</td>
      <td style="text-align: center;">{{book.image_url}}</td>
      <td style="text-align: center;">{{uploaded_by[loop.index-1]}}</td>
      <td><button type="button" value="{{book.id}}" class="deleteBookButtons">Delete</button></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</div>
